<header>
  <h1><%= link "NanoPlanner", to: Routes.top_path(@conn, :index, []) %></h1>
</header>
<main class="container">
  <%= @inner_content %>
</main>
<footer>
  &copy; 2021 Coregenik Inc.
</footer>
